SECRET_OUTLET_IA.json
{
  "name": "SECRET-OUTLET IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f11f2043-3b4e-4da8-83c5-0eb8845be2ab",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2860,
        240
      ],
      "id": "419200f8-3789-4c9a-9c07-ab22f21c2b95",
      "name": "ENTRADA NUMERO",
      "webhookId": "f11f2043-3b4e-4da8-83c5-0eb8845be2ab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44dd3e6f-0963-417b-a630-9903d2e91557",
              "name": "DADOS.NUMERO",
              "value": "={{$json.body.key.remoteJid.replace('@s.whatsapp.net', '')}}",
              "type": "string"
            },
            {
              "id": "2053f765-660c-4323-9a33-57cbdb2c0648",
              "name": "DADOS.MENSAGEM",
              "value": "={{$json.body.message.conversation}}",
              "type": "string"
            },
            {
              "id": "cbc8a0ac-280a-45bb-970f-127bd8094701",
              "name": "DADOS.API",
              "value": "BACK-END-RETORNO-DE-RESPOSTA",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2680,
        240
      ],
      "id": "3c5b9edc-1bdc-4abc-b855-4289179b366e",
      "name": "FORMATAÇÃO DE DADOS"
    },
    {
      "parameters": {
        "content": "WHATICKET-FORMAT1",
        "height": 300,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2900,
        140
      ],
      "typeVersion": 1,
      "id": "076f92a7-ee90-470e-8ea1-30e86351269c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "BUFFER DE MENSAGEM\nEVITA SOLICITAÇÕES DEMASIADAS DE MENSAGENS EM CASCATA",
        "height": 300,
        "width": 1200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2520,
        140
      ],
      "typeVersion": 1,
      "id": "c3a33d9e-1373-4e1c-8d1c-8ce4f0f45853",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.DADOS.NUMERO }}",
        "messageData": "={{JSON.stringify($json.DADOS)}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2460,
        240
      ],
      "id": "da9667b1-3290-4998-91d0-15444fd57e1c",
      "name": "ADD-MSG",
      "credentials": {
        "redis": {
          "id": "QCHGa9jlTCHMO2Ti",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('FORMATAÇÃO DE DADOS').item.json.DADOS.NUMERO }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2300,
        280
      ],
      "id": "0e6a65bc-e2dd-47a0-ace3-5dd36f2c53f3",
      "name": "PUSH-MSG",
      "credentials": {
        "redis": {
          "id": "QCHGa9jlTCHMO2Ti",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('FORMATAÇÃO DE DADOS').item.json.DADOS.NUMERO }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1760,
        280
      ],
      "id": "fc6fa778-6b33-4eb3-ac83-eb7cd929b2ea",
      "name": "PUSH-MSG-2",
      "credentials": {
        "redis": {
          "id": "QCHGa9jlTCHMO2Ti",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "631ea712-5de6-455e-9d6b-0b7281f4966e",
              "leftValue": "={{ $json.propertyName.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2140,
        220
      ],
      "id": "7a0f5a7a-8fe9-4444-bd3f-32d3339d9505",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1880,
        160
      ],
      "id": "2f6736f0-4490-493d-b6c8-b5718a17b5bf",
      "name": "NÃO FAZ NADA"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1960,
        300
      ],
      "id": "13768a70-078f-4678-8099-27e32e80be3c",
      "name": "ESPERA",
      "webhookId": "4d644424-51ca-4a2a-b987-b3a0dda898a3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('FORMATAÇÃO DE DADOS').item.json.DADOS.NUMERO }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1440,
        260
      ],
      "id": "a9729315-ed5c-4a81-b88c-2eb6fad65b2e",
      "name": "DEL-BFF",
      "credentials": {
        "redis": {
          "id": "QCHGa9jlTCHMO2Ti",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "369d3be1-04bf-4757-8860-769d04a20938",
              "name": "MENSAGEM",
              "value": "={{ $json.propertyName.map(value => JSON.parse(value).MENSAGEM).join('\\n') }}",
              "type": "array"
            },
            {
              "id": "2e2cc76d-fa86-4cf1-9d07-a52d4534eb98",
              "name": "NUMERO",
              "value": "={{ $('FORMATAÇÃO DE DADOS').item.json.DADOS.NUMERO }}",
              "type": "string"
            },
            {
              "id": "19591bb7-0dd9-4242-9e2d-27a4c44fe2d1",
              "name": "ID-CACHE",
              "value": "={{ $('ENTRADA NUMERO').item.json.body.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "f34a4913-142d-41de-9332-09f44151c0cc",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        180
      ],
      "id": "1d35f53f-438e-4473-8000-a7dafe445b57",
      "name": "MSG-OK"
    },
    {
      "parameters": {
        "fromEmail": "=geral@acsautomatiza.com.br",
        "toEmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', `E-mail que o usuario enviou.`, 'string') }}",
        "subject": "RELATORIO-ESTOQUE",
        "html": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HTML', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSendTool",
      "typeVersion": 2.1,
      "position": [
        -1080,
        280
      ],
      "id": "36b335c3-c6a4-429c-8dee-4e5b5a0f896b",
      "name": "Send Email",
      "webhookId": "0130d5c1-4b87-4616-9654-805e4a3afb41",
      "credentials": {
        "smtp": {
          "id": "Cp7cCelNQHOJPIW4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ce4ZtI9S42XuPKhvC2KJGpungjzU5UaqdmvxL95977w",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "LOG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ce4ZtI9S42XuPKhvC2KJGpungjzU5UaqdmvxL95977w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NUMERO": "={{ $('MSG-OK').item.json.NUMERO }}",
            "E-MAIL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('E-MAIL', `E-mail que foi enviado o relatorio, se aplicavel, se não deixe em branco.`, 'string') }}",
            "RELATORIO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RELATORIO', `Se foi solicitado relatorio valor é \"SIM\" caso não o valor é \"NÃO\".`, 'string') }}",
            "PERGUNTA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PERGUNTA', `Se não foi solicitado relatorio, qual a pergunta que o modelo respondeu relacionado ao ESTOQUE.\nSe não aplicavel deixe em branco.`, 'string') }}",
            "DESCRIÇÃO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DESCRI__O', `Se o relatorio foi enviado, qual a informação que foi enviada.\nSe não aplicavel deixe em branco.`, 'string') }}",
            "DATA": "={{ new Date().toLocaleString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NUMERO",
              "displayName": "NUMERO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RELATORIO",
              "displayName": "RELATORIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PERGUNTA",
              "displayName": "PERGUNTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DESCRIÇÃO",
              "displayName": "DESCRIÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -920,
        280
      ],
      "id": "fc130238-7480-433b-abeb-6a99ec69d612",
      "name": "LOG-ESTOQUE",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PFqgZ9fW2Y2zd6eE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this spreadsheet to pull inventory data from the store",
        "documentId": {
          "__rl": true,
          "value": "1oDFRnegvg4G8yGK_Jfade1XtZonBiKmdrVZ3MwIhYN0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1712568274,
          "mode": "list",
          "cachedResultName": "ESTOQUE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oDFRnegvg4G8yGK_Jfade1XtZonBiKmdrVZ3MwIhYN0/edit#gid=1712568274"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -1240,
        280
      ],
      "id": "0448b3a3-ca10-44d4-908c-17c153104f9e",
      "name": "CONSULTA-ESTOQUE",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PFqgZ9fW2Y2zd6eE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_LLb0hMHXRR3lVEaQ9lDAAhDX",
          "mode": "list",
          "cachedResultName": "ASSISTENTE-TUDO"
        },
        "prompt": "define",
        "text": "={{ $json.MENSAGEM }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1120,
        80
      ],
      "id": "3761c4ae-4548-496b-a26d-d091584c26b6",
      "name": "AGENTE",
      "credentials": {
        "openAiApi": {
          "id": "ZwYs7yfvjdLhijki",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('FORMATAÇÃO DE DADOS').item.json.DADOS.API }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "secret-outlet"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('FORMATAÇÃO DE DADOS').item.json.DADOS.NUMERO }}"
            },
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        160
      ],
      "id": "f303e6b6-551c-4209-95f7-9083bcb78a11",
      "name": "RESPOSTA"
    },
    {
      "parameters": {
        "content": "I.A DE RESPOSTA",
        "height": 400,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1320,
        40
      ],
      "typeVersion": 1,
      "id": "64240112-79d2-43e7-9ecc-6ac34ab5fe30",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        40
      ],
      "typeVersion": 1,
      "id": "2e44fccd-3743-4cff-9cf6-4525da0344b8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('MSG-OK').item.json['ID-CACHE'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -780,
        280
      ],
      "id": "c0923ecd-b992-447e-8182-6b001cf7c543",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ASluPu5MDCgjsM3k",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ENTRADA NUMERO": {
      "main": [
        [
          {
            "node": "FORMATAÇÃO DE DADOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMATAÇÃO DE DADOS": {
      "main": [
        [
          {
            "node": "ADD-MSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ADD-MSG": {
      "main": [
        [
          {
            "node": "PUSH-MSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUSH-MSG": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "NÃO FAZ NADA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ESPERA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESPERA": {
      "main": [
        [
          {
            "node": "PUSH-MSG-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUSH-MSG-2": {
      "main": [
        [
          {
            "node": "MSG-OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEL-BFF": {
      "main": [
        [
          {
            "node": "AGENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSG-OK": {
      "main": [
        [
          {
            "node": "DEL-BFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AGENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LOG-ESTOQUE": {
      "ai_tool": [
        [
          {
            "node": "AGENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CONSULTA-ESTOQUE": {
      "ai_tool": [
        [
          {
            "node": "AGENTE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE": {
      "main": [
        [
          {
            "node": "RESPOSTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENTE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07b6542b-1195-41dd-9de0-232136e6037a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08e4a6b0471d6a02309bdd9ceb8c9a03a62fb8808cc782f8ce28420cdd943be9"
  },
  "id": "hJSzB6m9XioE2Zvw",
  "tags": []
}